.Container {
  /* position: absolute; */
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* display: flex; */
}

/* @media (max-width: 768px) {
  .Container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .Container {
    max-width: 475px;
  }
}

@media (min-width: 475px) {
  .Container {
    width: 100%;
  }
} */
