.Details {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 4rem;
  /* width: 100%; */
}

.Details h1 {
  font-size: 8rem;
  text-align: center;
  /* padding-top: 6rem; */
  letter-spacing: 1rem;
  padding-top: 8rem;

  /* position: relative; */
}

.Details h2 {
  font-size: 3rem;
  text-align: center;
}

.details {
  border: 0.1rem solid #282c30;
  border-radius: 0.5rem;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #1685b7; */

  margin-top: 3rem;

  /* width: 150rem; */
  /* height: 70rem; */
  /* background-color: grey; */
  /* width: 100%; */

  /* width: 50rem;
  height: 50rem; */
}

.details:hover {
  /* box-shadow: 5px 4px 15px -6px #ef233c; */
}

.det-img img {
  /* max-width: 60rem; */
  /* height: auto; */
  /* object-fit: cover; */

  /* width: 60%; */
  /* max-width: 80%; */
  /* max-width: 100%; */
  /* height: 70rem; */
  width: 100%;
  height: 100%;
  align-self: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: grayscale();
  padding: 1rem 1rem;
  border-radius: 1.5rem;
}
.det-img img:hover {
  filter: none;
}

.det-img {
  width: 50%;
  /* border-right: 2px solid white; */

  /* align-self: center; */
  /* height: auto; */
}

.DetailText {
  /* max-width: 40rem; */
  width: 50rem;
  margin: 0 auto;
  align-self: center;
  border-left: 0.15rem solid #1685b7;
  /* padding-left: 0.5rem; */
  padding: 1rem 1rem;
}
.DetailText p {
  font-size: 1.5rem;

  /* margin: 0 auto; */
}

@media (max-width: 768px) {
  .Details h1 {
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }

  .det-img img {
    height: 30rem;
    width: 100%;
  }

  .det-img {
    width: 100%;
  }

  .DetailText p {
    text-align: center;
  }

  .DetailText {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .DetailText {
    margin: 1rem auto;
  }

  .DetailText {
    width: 30rem;
  }

  .det-img img {
    height: 30rem;
    width: 100%;
  }
}

/* @media (max-width: 1280px) {
  .det-img {
   
  }
} */

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .det-img {
    width: 100%;
  }

  .DetailText {
    margin: 1rem 0;
  }
}

@media (max-width: 475px) {
  .Details h1 {
    font-size: 6rem;
    letter-spacing: 0.3rem;
  }
  .det-img {
    width: 100%;
  }

  .det-img img {
    height: 20rem;
    width: 100%;
  }

  .DetailText h2 {
    font-size: 2rem;
  }

  .DetailText p {
    font-size: 1rem;
    text-align: center;
  }

  .DetailText {
    margin: 1rem 0;
  }
}
