.Details h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 6rem;
  letter-spacing: 3rem;
  /* position: relative; */
}
.Details {
  /* display: flex;
  flex-direction: column; */
  max-width: 130rem;
}
.descDetails {
  /* width: 100rem; */
  display: flex;
  flex-direction: column;
}

.descDetails p {
  /* width: 100rem; */
  font-size: 2rem;
  letter-spacing: 0.5rem;
  align-self: flex-start;
}



@media (max-width: 475px) {
  .Details h1 {
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }

  .descDetails p {
    font-size: 1.5rem;
  }
}
