.Download h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 6rem;
  letter-spacing: 1.2rem;
  /* position: relative; */
}
.Download {
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
}

.downloads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  /* padding: 2rem 2rem; */
  gap: 4rem;
}

.steam,
.mega {
  border: 0.2rem solid #282c30;
  width: 50rem;
  height: 50rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  box-shadow: 1px 4px 10px -7px black;
  /* box-shadow: 3px 4px 7px -5px white; */
}

.mega img {
  max-width: 60rem;
  max-height: 60rem;

  border-radius: 1rem;
  /* filter: drop-shadow(5px 5px 5px black); */
}

.steam img {
  max-width: 60rem;
  max-height: 60rem;
  border-radius: 1rem;
}

.descDownload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.descDownload p {
  font-size: 1.2rem;

  text-align: center;

  /* margin-top: 2rem; */
}

.descDownload button {
  cursor: pointer;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 4px 10px -7px black;
  /* border: 1px solid black; */
  /* background-color: white; */
}

.descDownload button:hover {
  background: red;
}

@media (max-width: 768px) {
  .Download h1 {
    font-size: 6rem;
  }

  .steam,
  .mega {
    width: 40rem;
    height: 40rem;
  }

  .downloads {
    margin-bottom: 1rem;
  }

  .mega img,
  .steam img {
    max-width: 50rem;
    max-height: 50rem;
  }
  .descDownload {
    margin-top: 0;
  }
  .descDownload button {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .Download h1 {
    font-size: 9rem;
  }

  .steam,
  .mega {
    width: 60rem;
    height: 60rem;
  }

  .downloads {
    margin-bottom: 3rem;
  }

  .descDownload p {
    font-size: 1.5rem;
  }

  .descDownload button {
    /* font-size: 1rem; */
  }
  /* .mega img,
  .steam img {
    max-width: 80rem;
    max-height: 80rem;
   
  } */
}

@media only screen and (min-width: 320px) and (max-width: 475px) {
  .Download h1 {
    font-size: 10rem;
  }
}

@media (max-width: 475px) {
  .Download h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-align: center;
  }

  .downloads {
    /* margin: 0 auto; */
  }
  .mega img,
  .steam img {
    max-width: 30rem;
    max-height: 30rem;
    margin-top: 4rem;
    margin-bottom: -1rem;
  }

  .steam,
  .mega {
    width: 25rem;
    height: 25rem;
  }
  .descDownload {
    margin-top: 0;
  }
  .descDownload p {
    text-align: justify;
    font-size: 1rem;
  }
  .descDownload button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}
