@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0 auto;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

.cursor {
  background-color: blue;
  /* background: linear-gradient(to right, white, blue); */

  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  filter: blur(0.3rem);
  border: 1px solid white;
  /* z-index: 2; */
  /* backdrop-filter: blur(50px); */
}
