.Team h1 {
  font-size: 10rem;
  text-align: center;
  padding-top: 8rem;
  letter-spacing: 1rem;
}

.Team {
  min-height: 100vh;
  /* height: 70rem; */
  background-image: url("./assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  /* z-index: -1; */
}

.Cards {
  object-fit: fill;
  margin-top: 4.8rem; /* 48px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cards {
  height: 50rem;
  cursor: pointer;
  border-radius: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 4px 7px -5px black;
  /* -webkit-box-shadow: 3px 4px 7px -5px black; */

  filter: grayscale();
}

.cards:hover {
  filter: none;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-footer {
  border-bottom-right-radius: 2rem; /* 4px */
  border-bottom-left-radius: 2rem; /* 4px */
  background-color: #e5e5e5;

  background-color: rgba(255, 255, 255, 0.4);
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.card-footer h2 {
  font-size: 1.7rem; /* 20px */
  line-height: 2rem; /* 28px */
  font-weight: 500;
  text-align: center;

  /* letter-spacing: 0.1rem; */
  color: white;
  /* z-index: 3; */
}

.card-footer p {
  margin-top: 1.8rem; /* 8px */
  letter-spacing: 0.6rem;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

@media (max-width: 768px) {
  .Cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards {
    flex-grow: 1;
  }
}

@media (max-width: 475px) {
  .Team h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    /* padding-top: 1rem; */
  }

  .Cards {
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* margin: 0 1rem; */
    width: 40rem;
    /* height: 50rem; */
    margin: 0 auto;
  }

  .cards {
    /* flex-wrap: wrap;
    flex-grow: 1; */
  }
}
